<%= form_with(model: [@service_entry.car, @service_entry]) do |f| %>
  <% if @service_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_entry.errors.count, "error") %> prohibited this service_entry from being saved:</h2>

      <ul>
      <% @service_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service %><br />
    <%= f.text_field :service %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :mileage %><br />
    <%= f.number_field :mileage %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit :class => "button"%>
  </div>
<% end %>

<style>
  
.field input {
  color: gray;
  margin-bottom: 1rem;

}
.field label {
margin-left: 1rem;

}

.field input:focus {
  opacity: .8;
}

.field input {
  width: 90%;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  padding: .7rem;
  padding-top: 1rem;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.field{
    color: gray;
}

textarea {
  width: 90%;
  min-height: 170px;  
  resize:none;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


a:link {
  color: gray;
  font-size: 14px;
  text-decoration: none;
  text-transform:capitalize;

}

/* visited link */
a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #44c8ed;
  transition: all ease .4s;

}


button {  
  border: 1px transparent;
  color:gray;
  font-family: Helvetica;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 1rem;
  min-width: 110px;
  max-height: 3px;
  transition: all ease .4s;
  line-height: 2px;
  margin-left: 1rem;
  margin-right: 1rem;

}

button:hover {
  background-image:none;
  background-color: #71d9f6;
  border-color: #44c8ed;
  text-decoration: none;
  color: white;
}

.button {  
  border-radius: 30px;
  border: 1px transparent;
  background-color: #44c8ed;
  font-family: Helvetica;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 1rem;
  min-width: 110px;
  max-height: 3px;
  transition: all ease .4s;
  line-height: 2px;
  color: white;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform:capitalize;

}

.button:hover {
  background-image:none;
  background-color: #71d9f6;
  border-color: #44c8ed;
  color: white;
  text-decoration: none;
}



</style>
