<body style="background-color:#F0F0F0;">

<div class="topnav">
    <a class="active" href="/cars">Home</a>
  <b><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></b>
</div>

<div class= "your-garage">
<h1>Your Garage</h1>


<table class="my-cars" >

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td class= "user-label"><%= car.nickname %></td>
        <td><button><%= link_to 'Show', car %></button></td>
        <td><button><%= link_to 'Edit', edit_car_path(car) %></button></td>
        <td><button><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
<br>



<p>
<button class="new-button"><%= link_to 'New Car', new_car_path %></button>
</p>







<style>



.your-garage {
  text-align: center;
  font-family: Helvetica;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 7rem;
  min-width: 500px;
  max-width: 700px;
}


.my-cars{
  font-family: Helvetica; 
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 1rem;
  border-spacing: 0;
  padding-bottom: .5rem;
  padding-top: 1rem;
  min-width: 500px;
  max-width: 700px;
}


 tbody tr:nth-child(odd) {
  background-color: #F0F0F0;
}

p{
  font-family: Helvetica;
}

.user-label {
  font-family: Helvetica; 
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-right: 6rem;
  min-width: 80px;
  font-size: 18px;
  color: #8a8a8a;
}


a:link {
  color: white;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

button {
  border-radius: 30px;
  border: 1px transparent;
  background-image: linear-gradient(#aae4f4, #44c8ed);
  color:#909090;
  text-transform: uppercase;
  font-family: Helvetica;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 1rem;
  min-width: 110px;
  max-height: 3px;
  transition: all ease .4s;
  line-height: 2px;
  margin-left: -1rem;
  margin-right: 3rem;

}

button:hover {
  background-image:none;
  background-image: linear-gradient(#bdeaf7, #71d9f6);
  border-color: #44c8ed;
  color:#white;
  text-decoration: none;
  color: white;
}


.new-button {
  border-radius: 30px;
  border: 1px transparent;
  background-image: linear-gradient(#aae4f4, #44c8ed);
  color:#909090;
  text-transform: uppercase;
  font-family: Helvetica;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-width: 110px;
  max-height: 3px;
  transition: all ease .4s;
  line-height: 2px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;

}

.new-button:hover {
  background-image:none;
  background-image: linear-gradient(#bdeaf7, #71d9f6);
  border-color: #44c8ed;
  color:#white;
  text-decoration: none;
  color: white;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #585858;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav b{
  float:right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-image: linear-gradient(#aae4f4, #44c8ed);
  color: white;
}


</style>