<body style="background-color:#F0F0F0;">

<div class="topnav">
  <a class="active" href="/cars">Home</a>
  <b class="sign-out"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></b>
  <%= link_to 'Edit Car', edit_car_path(@car) %>
</div>



<div class="grid-container">

<div class="name">
<h1 class="your-current-vehicle">Your Current Vehicle</h1>
    <p class="nickname"><strong ><%= @car.nickname %></strong> 
    <strong class="car-type">  
    <%= @car.make %>
    <%= @car.model %>
    <%= @car.year %> 
    <%# <%= @car.sub_model %> 
    </strong>  </p>

</div>



<div class="about">

<table class="my-entries">

<% @car.service_entries.each do |service_entry| %>
<% if service_entry.persisted? %>
    <tr class="table">
      <td class= "user-label"> <%= service_entry.service %></td>
      <td><%= service_entry.date %></td>
      <td><%= service_entry.mileage %> mi.</td>
      <td class="edit"><%= link_to 'Edit', edit_car_service_entry_path(service_entry.car, service_entry) %></td>
      <td class= "delete"><%= link_to 'Delete', [service_entry.car, service_entry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>

    <tr class="table-comments">
      <td colspan="5" class="table-expand-comments">
        <p><%= service_entry.comments %></p>
      </td>
    </tr>

  <% end %>
<% end %>
</table>

<br />
</div>


<div class="new-entry">
<h1>New Entry</h1>

<%= render 'service_entries/form' %>
</div>

</div>

<p class="back-to-cars"><%= link_to 'Back to All Cars', cars_path %></p>









<style>

::selection {
  color: white;
  background: #44c8ed;
}


.name { grid-area: header; }
.about { grid-area: menu; }
.new-entry { grid-area: entry; }


.grid-container {
  display: grid;
  grid-gap: 20px;
  padding: 10px;
  grid-template-areas:
    'header header header entry entry entry'
    'menu menu menu entry entry entry';
  grid-template-rows: 150px 450px;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 4rem;
}

.grid-container > div {
  padding: 20px 0;
}





h1 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.name {
  font-family: Helvetica;
  color: #404040;
  padding: 1rem;
  background-color: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: row;
  min-width: 700px;
}

.your-current-vehicle{
  font-size: 34px;
  font-family: Helvetica;
  color: #404040;
  background-color: #FFFFFF;
  border-right: 3px solid #DCDCDC;
  padding:1rem;
  width: 33%;
  height: auto; 
  text-align: left;
  margin-left: 1rem;
  flex-direction: row;
  margin: 0 auto;
 }

 .nickname {
  font-size: 34px;
  font-family: Helvetica;
  color: #404040;
  background-color: #FFFFFF;
  padding:1rem;
  width: 40%;
  height: auto;
  text-align: left;
  flex-direction: row;
  margin: 0 auto;
}

.car-type {
  font-size: 15px;
  display: block;
  padding-top: 1.2rem;
}


.about {
  font-family: Helvetica;
  color: #404040;
  background-color: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  overflow: auto;
}

.my-entries{
  font-family: Helvetica; 
  color: #404040;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-spacing: 0;
  text-align: left;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  overflow: scroll;
  width: 800px;

}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #F8F8F8; 
  border-radius: 5px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0E0E0; 
  border-radius: 5px;
  transition: all ease .4s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D8D8D8; 
}





tbody tr:nth-child(odd) {
  background-color: #F0F0F0 ;
}

td{
  padding-right: 6rem;
  width: 90px;
}

.user-label {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  font-weight: bold;
  width: 150px;
}

.table {
  font-family: Helvetica;
  font-size: 16px;
  color: #8a8a8a; 
  overflow: scroll;
  

}


.table-expand-comments {
  background-color: #F8F8F8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 15px;
  color: #8a8a8a;
}



.new-entry {
  text-align: left;
  font-family: Helvetica;
  color: #404040;
  background-color: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  width: 300px;

}



button {
  border-radius: 30px;
  border: 1px transparent;
  color:#909090;
  font-family: Helvetica;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 1rem;
  min-width: 110px;
  max-height: 3px;
  transition: all ease .4s;
  line-height: 2px;
  margin-left: 1rem;
  margin-right: 1rem;

}

button:hover {

  border-color: #44c8ed;
  text-decoration: none;
  color: white;
}

.back-to-cars{
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.delete {
  padding-right: 0rem;
}

.edit {
  padding-right: .5rem;
}



body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid #DCDCDC;
}

.topnav a {
  float: left;
  color: #404040;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav b{
  float:right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:#44c8ed;
  color: white;
}


</style>

